
dashboard-be.mv.db
dashboard-be.trace.db
#dashboard-be/src/main/resources/static/css/
#dashboard-be/src/main/resources/static/js/lib/
be/target/*
*.iml
**/.idea/*
*.log
fe/bower_components/*
fe/node_modules/*
fe/.tmp/*
fe/dist
fe/node
fe/etc




