
#Root directory
dashboard-be.mv.db
dashboard-be.trace.db
*.iml
**/.idea/*
*.log

#BE module
be/target/*

#FE module
fe/bower_components
fe/node_modules
fe/.tmp
fe/dist
fe/node
fe/etc
fe/.sass-cache
fe/coverage





