
#Root directory
dashboard-be.mv.db
dashboard-be.trace.db
target/
*.iml
**/.idea/*
*.log
temp

#BE module
be/target/

#FE module
fe/target/
fe/bower_components
fe/node_modules
fe/.tmp
fe/dist
fe/node
fe/etc
fe/.sass-cache
**/coverage

#Maintenance scripts
**/maintenance_scripts/authentication/*



